:host {
    display    : block;
    width      : 0px;
    height     : 0px;
    overflow   : visible;
    will-change: transform;
}

:host {
    &:focus,
    &:focus-visible {
        outline: none;
    }
}

:host(:focus-visible) {
    outline: none;
}

.svgContainer {
    width    : 100px;
    height   : 100px;
    transform: translate(-50%, -50%);
}

.shape {
    fill: transparent;
    stroke: black;
    transition: all 0.2s ease-in-out;
}

.shape.focus {
    fill:cadetblue;
    stroke: blue;

}